<div class="horloge">
    <div class="item">
        <div class="time">
            <span class="tick">{{d0}}</span>
            <span class="tick">{{d1}}</span>
        </div>Jours
    </div>
    <div class="sep">:</div>
    <div class="item">
        <div class="time">
            <span class="tick">{{h0}}</span>
            <span class="tick">{{h1}}</span>
        </div>
        Heures
    </div>
    <div class="sep">:</div>
    <div class="item">
        <div class="time">
            <span class="tick">{{m0}}</span>
            <span class="tick">{{m1}}</span>
            </div>
            Minutes
    </div>
    <div class="sep">:</div>
    <div class="item">
        <div class="time">
        <span class="tick">{{s0}}</span>
        <span class="tick">{{s1}}</span>
        </div>
        Secondes
    </div>
</div>